* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #e579e6;
    height: 100px;
}

body {
    width: 90%;
    margin:25px auto;
}

main {
    margin: 20px;
    width: 100%;
    margin: 20px auto;
}

.firstSection {
    background-color: #e1d67a;
    height: 400px;
    width: 100%;
}
/*#e579e6
#e1d67a
#abcfe7
#0086ff
#8801fe
*/
