* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #e579e6;
    height: 100px;
}

body {
    width: 90%;
    margin:25px auto;
    height: 700px;
}
/*#e579e6
#e1d67a
#abcfe7
#0086ff
#8801fe
*/
